- @group.users.each do |user|
  .chat-group-user.clearfix{id: "chat-group-user-#{user.id}"}
    = hidden_field_tag "group[user_ids][]", user.id
    %p.chat-group-user__name #{user.name}
    - if current_user.name == user.name
      .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
    - else
      .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除
