.side-bar {
  box-sizing: border-box;
  width: 300px;
  min-height: 100vh;
  color: $white;

  .header {
    box-sizing: border-box;
    background-color: $side_blue_dark;
    position: fixed;
    top: 0;
    height: 100px;
    width: 300px;
    padding: 0 20px;
    line-height: 100px;
    z-index: 1;
    &__user-name {
      display: inline-block;
      font-size: $side_header;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header;
      }
    }
  }

  .groups {
    box-sizing: border-box;
    background-color: $side_blue_light;
    position: fixed;
    height: 100vh;
    width: 300px;
    padding: 100px 20px 0;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: $side_group_name;
      }
      &__message {
        margin-top: 5px;
        font-size: $side_group_message;
      }
      a {
        color: $white;
        text-decoration: none ;
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
